#** NGINX SERVICE MIGRATED TO CONTAINERS **
---
- name: Setup NGINX server
  hosts: all
  remote_user: jacob
  become: true
  tasks:
    - name: Update apt
      apt:
        update_cache: yes
    - name: Install NGINX packages
      apt:
        name: nginx
        state: latest
    - name: Start Service
      service:
        name: nginx
        state: restarted
        enabled: yes